app/.DS_Store
app/node_modules
app/dist


# local env files
app/.env.local
app/.env.*.local

# Log files
app/npm-debug.log*
app/yarn-debug.log*
app/yarn-error.log*
app/pnpm-debug.log*

# Editor directories and files
app/.idea
app/.vscode
app/*.suo
app/*.ntvs*
app/*.njsproj
app/*.sln
app/*.sw?

# Credentials
*/Credentials